<h1>Cart</h1>
<div class="cart">
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of product">
        <td><img [src]="item.product.image" alt=""></td>
        <td>{{item.product.name}}</td>
        <td>{{item.product.price}} ₾</td>
        <td><input [(ngModel)]="item.quantity" type="number" min="1" /></td>
        <td><button (click)="deleteItem(item.product.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <button style="margin: 35px;">Checkout</button>
</div>
