button{
  background-color: #E80F0E;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    background-color: #FFCC00;
    transition: 0.6s;
}